@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Bree Serif", serif;
  box-sizing: border-box;
  box-shadow: 2px 2px 30px rgb(52, 48, 48);
}
.display {
  border: solid #d9d9d9 2px;
  height: 100px;
  border-radius: 15px;
  background: #1f1111;
}

.container {
  width: 100%;
  height: 100vh;
  background: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.calculator {
  background: rgb(56, 52, 52);
  padding: 20px;
  border-radius: 10px;
}

.calculator form input {
  border: 0;
  outline: 0;
  width: 60px;
  height: 60px;
  border-radius: 10px;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.2);
  background: transparent;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
}
form .display {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

form .display input {
  text-align: right;
  flex: 1;
  font-size: 45px;
  box-shadow: none;
}
.btnequal .equal {
  width: 145px;
}
.opercol .operators {
  color: #f28f0e;
}

.container2 input:hover {
  color: #d8e614;
  transition: 0.7s;
}
